body {
  background-image: url('images/cheese.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#login {
  z-index: 1;
  position: fixed;
  border: 3px solid black;
}

#login input {
  width: 500px;
  height: 150px;
  font-size: 3.5em;
}

#login button {
  float: right;
  height: 150px;
  width: 150px;
  font-size: 3.5em;
  background-color: aqua;
  border-left: 3px solid black;
  color: black;
}

.boardDiv {
  display: block;
  float: left;
  height: 750px;
}

#titleHeader {
  font-size: 5em;
  font-family: 'Bangers', cursive;
  margin: 0;
  /*margin-left: 800px;*/
  margin-bottom: 20px;
}

#volume {
  margin-left: 15%;
  font-size: .5em;
}

#canvas {
  border: 3px solid black;
  background-color: aqua;
  float: left;
  /*position: absolute;*/
  margin-left: 10px;
  margin-top: 10px;
}

#mouse {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 25px;
  width: 25px;
  z-index: 2;
}

#cheese {
  position: absolute;
  left: 670px;
  top: 620px;
  height: 30px;
  width: 30px;
  z-index: 1;
}

#timer {
  font-size: 5em;
  font-family: 'Bangers', cursive;
  margin: 0;
  /*margin-left: 800px;*/
  margin-bottom: 20px;
  /*background-color: white;*/
  width: 150px;
}

.instructions1 {
  font-size: 2em;
  font-family: 'Bangers', cursive;
  margin: 0;
  /*margin-left: 800px;*/
  margin-bottom: 25px;
}

.instructions2 {
  font-size: 1.5em;
  font-family: 'Bangers', cursive;
  margin: 0;
  /*margin-left: 800px;*/
  margin-bottom: 25px;
}

.win {
  position: absolute;
  top: 250px;
  left: 200px;
  background-color: white;
  color: green;
  border: 1px solid black;
  padding: 10px 129.5px;
  font-size: 2em;
  font-family: 'Bangers', cursive;
}

.win p {
  margin: 0;
}

.lose {
  position: absolute;
  top: 250px;
  left: 200px;
  background-color: white;
  color: red;
  border: 1px solid black;
  padding: 10px 125px;
  font-size: 2em;
  font-family: 'Bangers', cursive;
}

.lose p {
  margin: 0;
}

.reset {
  position: absolute;
  top: 320px;
  left: 200px;
  background-color: white;
  border: 1px solid black;
  padding: 10px 112px;
  font-size: 2em;
  font-family: 'Bangers', cursive;
}

.reset p {
  margin: 0;
}

.connected {
  float: left;
  background-color: white;
  border: 1px solid black;
  padding: 10px 125px;
  /*margin-left: 800px;*/
  font-size: 2em;
  font-family: 'Bangers', cursive;
}

.connected p {
  margin: 0;
}

@media screen and (min-width: 1000px) {
    .arrowButtons {
        display: none;
    }
    #messageForm {
      top: 640px;
      left: 735px;
      width: 800px;
    }

    #messageDiv {
      top: 430px;
      left: 735px;
      width: 500px;
    }

    #messageInput {
      width: 450px;
    }

    #login {
      top: 300px;
      left: 400px;
    }
}

@media screen and (max-width: 999px) {
  #messageForm {
    top: 1400px;
    width: 100%;
    left: 10px;
  }
  #messageEnter {
    top: 1300px;
    width: 100px;
  }
  #messageDiv {
    top: 1200px;
    left: 0px;
    width: 100%;
  }

  #messageInput {
    width: 700px;
  }

  #login {
    top: 400px;
    left: 200px;
  }
}

#messageDiv {
  position: fixed;
  height: 200px;
  border: 1px solid black;
  padding: 10px;
  background-color: white;
  overflow: auto;
}

#messageForm {
  position: fixed;
}

#messageEnter {
  border: 3px solid black;
  background-color: aqua;
  height: 40px;
  color: black;
}

#messageInput {
  border: 1px solid black;
  height: 40px;
}

.names {
  color: blue;
  margin-right: 2%;
  margin-left: 0;
}
