body {
  background-image: url('images/cheese.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#titleHeader {
  font-size: 2em;
  text-align: center;
}

#dpad {
  margin-bottom: 75px;
}

#canvas {
  border: 3px solid black;
  background-color: aqua;
}

#mouse {
  position: absolute;
  /*move by 40px for left/right, starting point is 58px*/
  left: 18px;
  /*move by 40px for up/down, staring point is 170px%*/
  top: 90px;
  height: 33px;
  width: 33px;
  z-index: 2;
}

#cheese {
  position: absolute;
  left: 670px;
  top: 695px;
  height: 30px;
  width: 30px;
  z-index: 1;
}
